<div class="bs-example">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <a href="https://github.com/Bassem-Shaker/AltenCodeChallenge" target="_blank" class="navbar-brand">Alten Code Challenge</a>
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
          <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav">
              <a routerLink="/vehicles" class="nav-item nav-link active">Home</a>
          </div>
      </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>